.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  background-color: var(--secondary-color);
  color: var(--text-color);
  width: 80%; 
  max-width: 900px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem; 
 
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  text-align: left;
}

.profile-image img {
  border-radius: 50%;
  border: 2px solid white;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center top;
}

.intro-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
}

.intro-text h1 {
  margin: 0;
  font-size: 2.5rem;
  font-family: 'Cutive Mono', monospace;
}

.intro-text h2{
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.intro-text p {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.1rem;
  line-height: 1.5;
}

.view-work-button {
  width: 50%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 0.8rem 1.5rem;
  margin: 0;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-work-button:hover {
  background-color: #ffd74a;
}

@media (max-width: 768px){

  .home-container{
    overflow: hidden;
  }

  .card{
    width: 90%;
    padding: 1rem ;
  }

  .card-body{
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    
  }

  .intro-text{
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .intro-text h1{
    letter-spacing: -4px;
    word-spacing: -10px;
  }

  .view-work-button{
    width: 65%;
  }


}