.projects-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    
}

.main-projects-container,
.secondary-projects-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.secondary-projects-container{
    justify-content: center;
    gap: 20px;
}

.main-project-card{
    min-height: 400px;
    width: 24%;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.main-project-card:hover,
.second-project-card:hover{
    border-color: var(--button-text-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    z-index: 1;

}

.second-project-card{
    min-height: 200px;
    width: 18%;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    transition: transform 0.3s ease;
}

@media (max-width: 1500px){
    .main-projects-container{
        width: 98%;
    }

    .second-project-card{
        width: 22%;
    }
}

@media (max-width: 768px){

    /*Stili css per il titolo e freccia sopra i main projects, per rendere più visibile e chiaro che è necessario
    scorrere per vederne altri*/


    .main-projects-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        margin: 0;
    }

    .main-projects-header h2 {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: -1px;
        word-spacing: -2px;
        color: var(--secondary-color);
        margin: 0;
        margin-right: 0.5rem;
    }

    .scroll-hint {
        display: flex;
        align-items: center;
        color: #666;
        font-size: 1rem;
        font-weight: 600;
    }

    .scroll-arrow {
        margin-left: 0.5rem;
        font-size: 1.5rem;
        color: var(--secondary-color);
        /* Avvia l'animazione */
        animation: bounceRight 1.5s infinite; 
    }

    @keyframes bounceRight {
        0%, 20%, 50%, 80%, 100% {
            transform: translateX(0);
        }
        40% {
            transform: translateX(5px);
        }
        60% {
            transform: translateX(3px);
        }
    }
    /*aggiunto le specifiche della card qui per evitare che andasse in conflitto, lasciandole nella 
    pagina dedicata alla card nello specifio non veniva eseguita correttamente, probabilmente dovuto a
    ordine di caricamento?*/
    .main-project-card {
        width: 95%; 
        flex-shrink: 0;
        transform: none;  
        
        /* Definisce il punto di aggancio */
        scroll-snap-align: start; 
        
        /* Aggiunge spazio tra le slide */
        margin-right: 1.5rem; 
    }

    .main-projects-container {
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;
        padding: 0; 
        overflow-x: scroll; 
        -webkit-overflow-scrolling: touch; 
        width: 100%; 
        padding: 0 1rem; 
        scroll-snap-type: x mandatory; 
        scroll-padding-left: 1rem; 
        scrollbar-width: none;
    }

    .main-projects-container::-webkit-scrollbar {
        display: none;
    }

    .second-projects-header h2{
        margin: 0;
    }

    .secondary-projects-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .second-project-card{
        width: 90%;
    }

}