.projects-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    
}

.main-projects-container,
.secondary-projects-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-project-card{
    min-height: 400px;
    width: 24%;
    background-color: var(--secondary-color);
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.main-project-card:hover,
.second-project-card:hover{
    border: 2px solid var(--button-text-color);
    transform: scale(1.1);
    z-index: 1;

}


.second-project-card{
    min-height: 200px;
    width: 18%;
    background-color: var(--secondary-color);
    border-radius: 12px;
    transition: transform 0.3s ease;
}