.projects-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    
}

.main-projects-container,
.secondary-projects-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.secondary-projects-container{
    justify-content: center;
    gap: 20px;
}

.main-project-card{
    min-height: 400px;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.main-project-card:hover,
.second-project-card:hover{
    border-color: var(--button-text-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    z-index: 1;

}


.second-project-card{
    min-height: 200px;
    width: 18%;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    transition: transform 0.3s ease;
}

@media (max-width: 1500px){
    .main-projects-container{
        width: 98%;
        
    }

    .main-project-card{
        width: 24%;
    }

    .second-project-card{
        width: 22%;
    }
}

@media (max-width: 768px){

    .main-projects-container {
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;
        padding: 0; 
        
        overflow-x: scroll; 
        -webkit-overflow-scrolling: touch; 
        
        width: 100%; 
        padding: 0 1rem; 
        
        /* Regole chiave per l'aggancio */
        scroll-snap-type: x mandatory; 
        scroll-padding-left: 1rem; 
        
        /* Nasconde le barre di scorrimento */
        scrollbar-width: none; /* Firefox */
    }
    .main-projects-container::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }

    .secondary-projects-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .second-project-card{
        width: 90%;
    }

}