*,
*::before,
*::after {
  box-sizing: border-box;
}
  
:root {
  --primary-color: #FFC107;
  --secondary-color: #1a1a1a;
  --text-color: #ffffff; 
  --button-color: #1a1a1a;
  --button-text-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

header,
footer{
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 1000;
}

.dot-main-container{
  position: relative;
  min-height: 100%;
}

.dot-pattern-fixed-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; 
    pointer-events: none;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.3) 2px, transparent 1px);
    background-size: 80px 80px; 
    background-color: transparent; 
}

@media (max-width: 768px){
  
  .main{
    padding: 0;
    flex-grow: 0.5;
    margin: 0;
  }

}